* {
                margin: 0;
                border: 0;
                padding: 0
            }

            sup {
                vertical-align: top !important;
                line-height: 150% !important;
            }

            @media screen and (max-width:699px) {

                td[class=thumbspacing] {
                    height: 30px !important;
                }
                td.thumbspacing {
                    height: 30px !important;
                }

                p[class=dsk] {
                    display: none !important;
                }
                p.dsk {
                    display: none !important;
                }

                p[class=mob] {
                    display: inline-block !important;
                }
                p.mob {
                    display: inline-block !important;
                }

                p[class=tab] {
                    display: inline-block !important;
                }
                p.tab {
                    display: inline-block !important;
                }

                *[class=structuremobile] {
                    width: 92.5% !important;
                }
                .structuremobile {
                    width: 92.5% !important;
                }

                *[class=contentmobile] {
                    width: 100% !important;
                    height: auto !important;
                }
                .contentmobile {
                    width: 100% !important;
                    height: auto !important;
                }

                #templateColumns {
                    width: 92.5% !important;
                }
                .templateColumnContainer {
                    display: block !important;
                    width: 100% !important;
                }
                .columnImage {
                    height: auto !important;
                    max-width: 100% !important;
                    width: 100% !important;
                }
                .leftColumnContent {
                    font-size: 16px !important;
                    line-height: 125% !important;
                }
                .rightColumnContent {
                    font-size: 16px !important;
                    line-height: 125% !important;
                }

                table[class=footerwidth] {
                    width: 90% !important;
                }
                table.footerwidth {
                    width: 90% !important;
                }

                p.subjectline {
                    display: none;
                }
                p[class=subjectline] {
                    display: none;
                }

            }
